
.input {
  font-size: 0.7rem;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 0 0 5px;
  margin: 5px 0 10px 0;
}


.inputPrimary {
  background-color: rgb(30, 25, 25);
  color: white;
}


.divActionsOrder {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.labelBase {
  font-size: 0.7rem;
  color: black;
}

.labelLight {
  color: white;
}

.labelDark {
  color: black;
}


.inputLogin{
  background-color: rgb(30, 25, 25);
  color: white;
  font-size: 0.7rem;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 0 0 5px;
  margin: 5px 0 10px 0;
}

.inputParagragh{
  color: white;
  font-size: 0.7rem;
}


.inputTable {
  background-color: rgb(30, 25, 25);
  color: white;
  font-size: 0.7rem;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 0 0 5px;
  margin: 5px 0 10px 0;
} 

.inputDescription {
  color: black;
  width: 95%;
  min-height: 40px;
  margin-bottom: 7px;
}

.inputTable {
  background-color: rgb(30, 25, 25);
  color: white;
  font-size: 0.7rem;
  width: 100%;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 0 0 5px;
  margin: 5px 0 10px 0;
}