.contentRegister {
  display: flex;
  justify-content: end;
  width: 100%;
}

.formRegister {
  width: 60%;
  border: 1px solid black;
  background-color: black;
  opacity: 0.90;
  border-radius: 10px;
  padding: 2% 5% 2% 5%;
  margin: 35px 0 35px 0;
}

.title {
  text-align: start;
}



.spanStyle {
  color: white;
  font-size: 0.7rem;
}

.link {
  color: rgb(217, 101, 35);
  font-size: 0.7rem;
  cursor: pointer;
}


.countOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 15px 0;
}

.displayForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  border: 1px solid gray;
}






