/* ESTILOS SECCION SUSCRIPCION */
.title2 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  margin-bottom: 20px;
  height: auto;
  background-color: rgb(245, 245, 245);
}

.suscriptionTitle {
  color: black;
}

.suscriptionParagraph {
  font-size: var(--font-size-sm);
  text-align: center;
  width: 100%;
  color: var(--color-text-dark);
}

.formText {
  margin-top: 10px;
  width: 100%;
}

.formTextInput {
  border: 1px solid rgb(179, 179, 179);
  height: 30px;
}



/* ============================================
   DESKTOP: 1024px y más
   ============================================ */

@media (min-width: 1024px) {

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 30%;
    margin-bottom: 20px;
    height: auto;
    background-color: rgb(245, 245, 245);
  }


}