


.link {
  color: var(--color-primary);
  font-size: 0.7rem;
  cursor: pointer;
}

.paragragh {
  color: var(--color-light);
  font-size: 0.7rem;
}

.title{
  color: var(--color-light) !important;
}

.countOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 15px 0;
}

@media (min-width: 768px) {}