.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color:  rgb(217, 101, 35 );
  position: fixed;
  top: 0;
  z-index: 10;
}

.menuNavbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.navItem{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  width: 150px;
  height: 100%;
  border-radius: 5px;
}

.navItem:hover{
  background-color: rgb(146, 70, 25);
  transition: 0.2s ease-in-out;
}

.logo{
  height: 80%;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
