/* BillsTable.module.css */
.emptyMessage {
  text-align: center;
  color: var(--color-light);
  padding: 1rem;
}

.billsTable {
  width: 100%;
  border-collapse: collapse;
}

.billsTable thead {
  background-color: var(--color-primary);
  text-align: center;
  color: var(--color-light);
    font-size: 9px;
}

.billsTable td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #333;
  color: var(--color-light);
  font-size: 9px;
  
}

.billsTable th{
    padding: 0.5rem;
      border-bottom: 1px solid #333;
}

.row {
  cursor: pointer;
}

.row:hover {
  background: rgba(255, 255, 255, 0.05);
}