.productItem {
  width: 100%;
  min-height: 50px;
  outline: 1px solid gray;
  border-radius: 7px;
  padding: 5px 0 5px 7px ;
  cursor: pointer;
  margin-bottom: 7px;
}

.productItem:hover {
  background-color: var(--color-secondary);
  transition: 0.2s ease-in-out;
}

.productOrange {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.productDark {
  background-color: var(--color-transparent);
  color: var(--color-light);
}

.productItemTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 7px;
}

.productItemDescription {
  font-size: 12px;
  margin-bottom: 7px;
}

.productItemPrice {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
}


