.productItem {
  width: 100%;
  min-height: 50px;
  color: white;
  outline: 1px solid gray;
  border-radius: 7px;
  padding: 5px 0 5px 7px ;
  cursor: pointer;
  margin-bottom: 7px;
}

.productItem:hover {
  background-color: rgb(146, 70, 25);
  transition: 0.2s ease-in-out;
}

.productItemTitle {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 7px;
  margin-top: 7px;
}

.productItemDescription {
  font-size: 12px;
  color: gray;
  margin-bottom: 7px;
}

.productItemPrice {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-bottom: 7px;
}


