
.title {
  text-align: start;
}

.spanStyle {
  color: var(--color-light);
  font-size: 0.7rem;
}

.link {
  color: var(--color-primary);
  font-size: 0.7rem;
  cursor: pointer;
}


.countOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 15px 0;
}


.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  color: var(--color-light);
  width: 28px;
  height: auto;
  font-size: var(--font-size-2xl);
  cursor: pointer;
  margin-left: 3px;
  padding-bottom: var(--space-4);
}

.primary{
    color: var(--color-primary) !important;
    text-align: center;
}

.dark{
  color: var(--color-light) !important;
  font-size: 0.85rem;
}